In [282]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [283]:
# Dataframe data: contient toutes les infos/métriques + mda
# Dataframe counts: contient chaque mot et sa fréquence dans chaque document
data = pd.read_csv('final_labeled.csv')

In [284]:
data_ind = pd.read_csv('data_industry.csv')
data['industry']=data_ind.gind.values

In [285]:
data.dropna(inplace=True)
data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,...,d_Net_Profit_Margin,d_Asset_turnover,d_Financial_leverage,filename,MDA,d_RoE_pos,d_Net_Profit_Margin_pos,d_Asset_turnover_pos,d_Financial_leverage_pos,industry
0,0,55,55,1209,19970930,1997,INDL,C,D,STD,...,0.009571,0.025682,0.201784,APD_1997-12-11,ITEM MANAGEMENT S DISCUSSION AND ANALYSIS O...,1,1,1,1,151010
1,1,56,56,1209,19980930,1998,INDL,C,D,STD,...,0.017396,0.016560,0.072349,APD_1998-12-16,ITEM MANAGEMENT S DISCUSSION AND ANALYSIS ...,1,1,1,1,151010
2,2,57,57,1209,19990930,1999,INDL,C,D,STD,...,-0.021897,-0.047209,-0.027173,APD_1999-12-16,ITEM Management s Discussion and Analysis ...,0,0,0,0,151010
3,3,58,58,1209,20000930,2000,INDL,C,D,STD,...,0.008933,0.051468,0.150690,APD_2000-12-18,ITEM Management s Discussion and Analysis o...,1,1,1,1,151010
4,4,59,59,1209,20010930,2001,INDL,C,D,STD,...,-0.012285,0.046179,-0.328546,APD_2001-12-14,ITEM Management s Discussion and Analysis ...,1,0,1,0,151010

In [286]:
# Create counts from data 
vectorizer = CountVectorizer(stop_words="english")
counts = vectorizer.fit_transform(data.MDA.values)

In [287]:
allWords = pd.DataFrame(sorted(vectorizer.vocabulary_.items(), key=lambda x: (x[1], x[0])),columns= ['word', 'wordID']).word.values

In [288]:
good_count = pd.DataFrame(counts.toarray(),columns = allWords)
good_count.head()

,_______,_________,______________,_______________,________________,_________________,____________________,_____________________,______________________,_______________________,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [289]:
perfect_count = good_count.ix[:,50:]
perfect_count.head()

,abaca,abandon,abandoned,abandoning,abandonment,abandonmentcosts,abandonments,abate,abated,abatement,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Words vs RoE score (0 or 1)

In [290]:
perfect_count['roe']=data.d_RoE_pos.values
table = pd.DataFrame(pd.pivot_table(perfect_count, index='roe', aggfunc=np.sum))
table.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,abaca,abandon,abandoned,abandoning,abandonment,abandonmentcosts,abandonments,abate,abated,abatement,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
roe,,,,,,,,,,,,,,,,,,,,,
0,4,15,85,2,44,0,4,4,8,23,...,0,1,2,21,1,1,0,4,1,1
1,12,23,112,3,136,1,10,2,12,30,...,1,2,0,28,0,0,1,17,0,1

In [291]:
negative_roe = table.loc[0,:].sort_values(ascending=False)
print negative_roe
negative_roe.to_csv('negative_roe.csv')
print '###########################################'
positive_roe = table.loc[1,:].sort_values(ascending=False)
print positive_roe
positive_roe.to_csv('positive_roe.csv')

million                              76910
company                              41254
sales                                29116
net                                  28441
december                             26270
year                                 24729
income                               24488
financial                            24122
cash                                 24017
costs                                22755
tax                                  20819
operations                           18832
assets                               18778
operating                            18661
related                              16976
value                                15875
rate                                 15208
increase                             15044
compared                             15010
approximately                        14439
cost                                 14186
statements                           13786
increased                            13677
primarily                            12694
market                               12391
products                             12383
based                                12327
expense                              12253
fiscal                               12152
capital                              12034
                                     ...
contentscontingencieslitigationwe        0
netduring                                0
contentschemical                         0
newcastle                                0
newfound                                 0
newlin                                   0
nii                                      0
nigstein                                 0
contentsassociated                       0
contentsassumed                          0
nigo                                     0
contentsassumptionsfor                   0
nightly                                  0
nick                                     0
nichols                                  0
niches                                   0
nicely                                   0
niagara                                  0
contentsbegan                            0
contentsbelieves                         0
nfcs                                     0
nexgen                                   0
contentsborrowings                       0
newzealand                               0
contentsbusinesswe                       0
newspring                                0
newsome                                  0
newnan                                   0
contentscatalyst                         0
kx                                       0
Name: 0, dtype: int64
###########################################
million          108749
company           56202
sales             39578
net               38238
year              34507
december          34417
income            34198
cash              34029
financial         33250
costs             30959
tax               27646
operations        26205
operating         26016
assets            25398
related           23995
value             21598
increase          21549
rate              21531
compared          20467
increased         20313
statements        19899
approximately     19389
primarily         18438
cost              18064
business          17481
products          17250
expense           17239
based             16951
results           16842
debt              16761
                  ...
equifoam              0
calais                0
homebuilder           0
calamity              0
ho                    0
tital                 0
calco                 0
hmos                  0
tis                   0
hmmm                  0
holdersabove          0
holdersn              0
cafo                  0
holdingsour           0
cacmg                 0
cactus                0
periodsthe            0
epu                   0
eqip                  0
hollyon               0
equalization          0
renewables            0
cadre                 0
permissions           0
caeb                  0
peroids               0
peroxymeric           0
caf                   0
holdingthe            0
plancash              0
Name: 1, dtype: int64

In [292]:
k = 500
neg_words = pd.DataFrame(negative_roe).index.tolist()
#print neg_words[0:k]
pos_words = pd.DataFrame(positive_roe).index.tolist()
#print ''
#print pos_words[0:k]

print 'Words for negative RoE changes'
print [word for word in neg_words[0:k] if word not in pos_words[0:k]]
print ''
print 'Words for positive RoE changes'
print([word for word in pos_words[0:k] if word not in neg_words[0:k]])

Words for negative RoE changes
[u'ntic', u'ton', u'ventures', u'coal', u'goods', u'canadian', u'partnership', u'derivatives', u'closure', u'anticipated', u'recent', u'processing', u'canada', u'hedging', u'repurchase']

Words for positive RoE changes
[u'royalty', u'ashland', u'euro', u'critical', u'spending', u'assumed', u'american', u'translation', u'did', u'holdings', u'timing', u'range', u'funding', u'half', u'recognition']

## Words vs Profit Margin score (0 or 1)

In [293]:
perfect_count['profMar']=data.d_Net_Profit_Margin_pos.values
table = pd.DataFrame(pd.pivot_table(perfect_count, index='profMar', aggfunc=np.sum))
table.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,abaca,abandon,abandoned,abandoning,abandonment,abandonmentcosts,abandonments,abate,abated,abatement,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
profMar,,,,,,,,,,,,,,,,,,,,,
0,6,22,91,1,63,0,4,4,10,27,...,0,1,2,26,1,0,1,11,1,0
1,10,16,106,4,117,1,10,2,10,26,...,1,2,0,23,0,1,0,10,0,2

In [294]:
negative_pm = table.loc[0,:].sort_values(ascending=False)
print negative_pm
negative_pm.to_csv('negative_profitMargin.csv')
print '###########################################'
positive_pm = table.loc[1,:].sort_values(ascending=False)
print positive_pm

positive_pm.to_csv('positive_profitMargin.csv')

million               84293
company               47025
sales                 33141
net                   31373
december              29110
year                  28347
income                27671
financial             27318
cash                  27040
costs                 25096
tax                   22080
operations            21397
operating             20915
assets                19988
related               18084
increase              17499
value                 17121
rate                  16990
compared              16889
approximately         16854
increased             16132
statements            15880
cost                  15453
primarily             14510
products              14030
based                 13831
market                13815
ended                 13787
expense               13739
fiscal                13731
                      ...
mishawaka                 0
rif                       0
rieglesville              0
collegeville              0
collapsible               0
examines                  0
minier                    0
miracle                   0
minimous                  0
miningsales               0
ministers                 0
cokecustomer              0
riskmetrics               0
cokemakingcapacity        0
minorca                   0
exceedances               0
colateralize              0
mint                      0
coldwell                  0
minting                   0
riskeastman               0
minwax                    0
riskdow                   0
collaborates              0
collaborating             0
mips                      0
exc                       0
exas                      0
miquel                    0
zytel                     0
Name: 0, dtype: int64
###########################################
million                 101366
company                  50431
sales                    35553
net                      35306
december                 31577
income                   31015
cash                     31006
year                     30889
financial                30054
costs                    28618
tax                      26385
assets                   24188
operating                23762
operations               23640
related                  22887
value                    20352
rate                     19749
increase                 19094
compared                 18588
increased                17858
statements               17805
approximately            16974
cost                     16797
primarily                16622
business                 16085
expense                  15753
products                 15603
based                    15447
credit                   15414
debt                     15363
                         ...
maximummember                0
hydrocolloid                 0
rubles                       0
hydrochlorocarbon            0
hydrometallurgical           0
contentsrepayment            0
contentsremaining            0
maxicheck                    0
hydrotreating                0
runoffs                      0
contentsproduct              0
contentsproduction           0
contentsprofessional         0
contentsproject              0
contentsproperty             0
contentsprovide              0
contentsprovisional          0
hydropower                   0
contentspulp                 0
contentspurported            0
contentspursue               0
contentsquarter              0
contentsquarterly            0
contentsrcra                 0
maxiboost                    0
contentsrecognized           0
contentsrefer                0
contentsregions              0
contentsregulation           0
contentsadjustments          0
Name: 1, dtype: int64

In [295]:
k = 500
neg_words = pd.DataFrame(negative_pm).index.tolist()
#print neg_words[0:k]
pos_words = pd.DataFrame(positive_pm).index.tolist()
#print ''
#print pos_words[0:k]

print 'Words for negative Profit Margin changes'
print [word for word in neg_words[0:k] if word not in pos_words[0:k]]
print ''
print 'Words for positive Profit Margin changes'
print [word for word in pos_words[0:k] if word not in neg_words[0:k]]

Words for negative Profit Margin changes
[u'ton', u'canadian', u'goods', u'ounces', u'processing', u'holdings', u'anticipated', u'recognition', u'lines', u'timing', u'aluminum', u'closure', u'coal', u'canada', u'american', u'expansion', u'hedging']

Words for positive Profit Margin changes
[u'ashland', u'entities', u'euro', u'write', u'adjustment', u'derivatives', u'spending', u'assumed', u'key', u'funding', u'half', u'recent', u'severance', u'health', u'did', u'technology', u'extent']

## Words vs Asset Turnover score (0 or 1)

In [296]:
perfect_count['assTurn']=data.d_Asset_turnover_pos.values
table = pd.DataFrame(pd.pivot_table(perfect_count, index='assTurn', aggfunc=np.sum))
table.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,abaca,abandon,abandoned,abandoning,abandonment,abandonmentcosts,abandonments,abate,abated,abatement,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
assTurn,,,,,,,,,,,,,,,,,,,,,
0,8,21,97,1,76,1,2,2,6,19,...,1,2,2,33,1,0,1,17,1,0
1,8,17,100,4,104,0,12,4,14,34,...,0,1,0,16,0,1,0,4,0,2

In [297]:
negative_ato = table.loc[0,:].sort_values(ascending=False)
print negative_ato
negative_ato.to_csv('negative_assetTurnover.csv')
print '###########################################'
positive_ato = table.loc[1,:].sort_values(ascending=False)
print positive_ato
positive_ato.to_csv('positive_assetTurnover.csv')

million                      83936
company                      40923
sales                        32503
net                          30296
december                     27717
year                         27585
income                       26342
cash                         26310
financial                    25398
costs                        24033
tax                          21901
operations                   20130
operating                    20122
assets                       19389
related                      18339
value                        16727
compared                     16677
rate                         16665
increase                     16578
increased                    15763
approximately                15529
statements                   15083
cost                         14549
primarily                    14190
products                     13774
ended                        13607
expense                      13524
fiscal                       13216
business                     13157
market                       13152
                             ...
nationalize                      0
natal                            0
nasopharyngeal                   0
negligently                      0
nematicidal                      0
netp                             0
constructors                     0
constitutionally                 0
netof                            0
netlon                           0
nethistorical                    0
netherlandsretirementplan        0
netherlandsin                    0
netherland                       0
netduring                        0
constructions                    0
constructive                     0
constructs                       0
neopolyol                        0
netcarryingamountdefinite        0
netcarryingamount                0
neshaps                          0
neshap                           0
nes                              0
consultative                     0
nephropathy                      0
nepal                            0
neoware                          0
neoprene                         0
zytel                            0
Name: 0, dtype: int64
###########################################
million               101723
company                56533
net                    36383
sales                  36191
december               32970
income                 32344
financial              31974
cash                   31736
year                   31651
costs                  29681
tax                    26564
operations             24907
assets                 24787
operating              24555
related                22632
value                  20746
rate                   20074
increase               20015
compared               18800
statements             18602
approximately          18299
increased              18227
cost                   17701
primarily              16942
credit                 16258
based                  16138
business               16107
expense                15968
results                15904
products               15859
                       ...
methodist                  0
roslyn                     0
methodologyashland         0
methoxymethy               0
rops                       0
methylpyrolidone           0
chelants                   0
endall                     0
roussel                    0
charger                    0
chargethe                  0
chargesa                   0
endingbalance              0
chargesclosure             0
rpms                       0
chargesimpairment          0
rpc                        0
metalization               0
royster                    0
metallicos                 0
rout                       0
metalliferous              0
endeavors                  0
metalsco                   0
rovral                     0
metaltech                  0
rovace                     0
metalweb                   0
metam                      0
hatch                      0
Name: 1, dtype: int64

In [298]:
k = 500
neg_words = pd.DataFrame(negative_ato).index.tolist()
#print neg_words[0:k]
pos_words = pd.DataFrame(positive_ato).index.tolist()
#print ''
#print pos_words[0:k]

print 'Words for negative Asset Turnover changes'
print [word for word in neg_words[0:k] if word not in pos_words[0:k]]
print ''
print 'Words for positive Asset Turnover changes'
print [word for word in pos_words[0:k] if word not in neg_words[0:k]]

Words for negative Asset Turnover changes
[u'industries', u'holdings', u'ashland', u'derivatives', u'royalty', u'closure', u'partnership', u'purchases', u'american', u'repurchase', u'timing', u'stockholders', u'cf', u'expansion', u'coal', u'silver', u'hedging', u'lines', u'half', u'recent', u'base']

Words for positive Asset Turnover changes
[u'dow', u'corporation', u'preferred', u'ounces', u'ntic', u'ratio', u'accounted', u'ii', u'euro', u'ventures', u'write', u'assumed', u'spending', u'described', u'recognition', u'extent', u'health', u'convertible', u'adjustment', u'indebtedness', u'funding']

## Words vs Financial Leverage score (0 or 1)

In [299]:
perfect_count['assTurn']=data.d_Financial_leverage_pos.values
table = pd.DataFrame(pd.pivot_table(perfect_count, index='assTurn', aggfunc=np.sum))
table.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,abaca,abandon,abandoned,abandoning,abandonment,abandonmentcosts,abandonments,abate,abated,abatement,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
assTurn,,,,,,,,,,,,,,,,,,,,,
0,11,17,97,3,109,1,10,3,11,30,...,1,0,0,17,0,0,0,9,0,1
1,5,21,100,2,71,0,4,3,9,23,...,0,3,2,32,1,1,1,12,1,1

In [300]:
negative_fl = table.loc[0,:].sort_values(ascending=False)
print negative_fl
negative_fl.to_csv('negative_finTurnover.csv')
print '###########################################'
positive_fl = table.loc[1,:].sort_values(ascending=False)
print positive_fl
positive_fl.to_csv('positive_finTurnover.csv')

million                                                  98170
company                                                  49736
sales                                                    34771
net                                                      34590
december                                                 31518
year                                                     30368
income                                                   30355
financial                                                29783
cash                                                     29553
costs                                                    27055
tax                                                      25093
operations                                               23307
assets                                                   23280
operating                                                22623
related                                                  21327
value                                                    19665
rate                                                     19644
increase                                                 18977
compared                                                 18242
increased                                                17798
statements                                               17513
approximately                                            16959
cost                                                     16256
primarily                                                15873
business                                                 15843
products                                                 15672
based                                                    15349
credit                                                   15286
expense                                                  15140
debt                                                     14891
                                                         ...
roots                                                        0
rooms                                                        0
millionsas                                                   0
millionsbenefitpaymentssubsidyreceiptsbenefitpayments        0
roman                                                        0
citt                                                         0
circum                                                       0
circular                                                     0
cif                                                          0
rouble                                                       0
rpm                                                          0
eqip                                                         0
epu                                                          0
cigarra                                                      0
rozenberg                                                    0
ciil                                                         0
royaltyon                                                    0
royaltiesthe                                                 0
cincy                                                        0
epp                                                          0
epoxybutene                                                  0
rovace                                                       0
rout                                                         0
roussel                                                      0
circal                                                       0
rounga                                                       0
circored                                                     0
roundness                                                    0
millioncritical                                              0
contractterminationand                                       0
Name: 0, dtype: int64
###########################################
million                         87489
company                         47720
sales                           33923
net                             32089
december                        29169
year                            28868
cash                            28493
income                          28331
financial                       27589
costs                           26659
tax                             23372
operating                       22054
operations                      21730
assets                          20896
related                         19644
value                           17808
increase                        17616
compared                        17235
rate                            17095
approximately                   16869
increased                       16192
statements                      16172
cost                            15994
primarily                       15259
ended                           14677
expense                         14352
results                         14259
market                          14050
products                        13961
based                           13929
                                ...
neil                                0
negating                            0
negat                               0
needssee                            0
netperiodicbenefitcostmember        0
netthe                              0
nicolaus                            0
condotel                            0
nick                                0
niches                              0
nhh                                 0
nextech                             0
nexfor                              0
nex                                 0
newspring                           0
condensers                          0
condensing                          0
newlin                              0
newfound                            0
conditionaccounts                   0
newell                              0
newcastle                           0
newalta                             0
nevamar                             0
neutron                             0
conditionsome                       0
conditionwe                         0
condominium                         0
condominiums                        0
ky                                  0
Name: 1, dtype: int64

In [301]:
k = 500
neg_words = pd.DataFrame(negative_fl).index.tolist()
#print neg_words[0:k]
pos_words = pd.DataFrame(positive_fl).index.tolist()
#print ''
#print pos_words[0:k]

print 'Words for negative Financial Leverage changes'
print [word for word in neg_words[0:k] if word not in pos_words[0:k]]
print ''
print 'Words for positive Financial Leverage changes'
print [word for word in pos_words[0:k] if word not in neg_words[0:k]]

Words for negative Financial Leverage changes
[u'loans', u'preferred', u'hedge', u'euro', u'ashland', u'ntic', u'lines', u'anticipated', u'spending', u'critical', u'ventures', u'recognition', u'american', u'indebtedness', u'assumed', u'technology', u'health', u'dividend', u'range']

Words for positive Financial Leverage changes
[u'industries', u'coal', u'ton', u'equivalents', u'ounces', u'partnership', u'canadian', u'derivatives', u'exploration', u'goods', u'timing', u'processing', u'did', u'silver', u'recent', u'aluminum', u'coke', u'site', u'half']

## Words vs Financial Leverage score (0 or 1)

In [303]:
perfect_count['industry']=data.industry.values
table = pd.DataFrame(pd.pivot_table(perfect_count, index='industry', aggfunc=np.sum))
table.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,abaca,abandon,abandoned,abandoning,abandonment,abandonmentcosts,abandonments,abate,abated,abatement,...,zug,zuo,zuosheng,zurich,zurn,zust,zvc,zweckform,zyrardow,zytel
industry,,,,,,,,,,,,,,,,,,,,,
151010,0,16,95,3,108,0,2,1,14,46,...,0,0,0,43,1,1,1,0,0,2
151020,0,1,9,2,3,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151030,0,4,14,0,4,0,0,0,2,4,...,0,0,0,3,0,0,0,21,0,0
151040,0,17,48,0,63,1,9,3,4,2,...,1,3,2,3,0,0,0,0,1,0
151050,16,0,31,0,2,0,0,2,0,1,...,0,0,0,0,0,0,0,0,0,0

In [304]:
first_ind = table.loc[151010,:].sort_values(ascending=False)
print first_ind[:10]
print '###########################################'
bis_ind = table.loc[151020,:].sort_values(ascending=False)
print bis_ind[:10]
print '###########################################'
ter_ind = table.loc[151030,:].sort_values(ascending=False)
print ter_ind[:10]
print '###########################################'
qar_ind = table.loc[151040,:].sort_values(ascending=False)
print qar_ind[:10]
print '###########################################'
quint_ind = table.loc[151050,:].sort_values(ascending=False)
print quint_ind[:10]
print '###########################################'

million      76429
company      45307
sales        35461
net          30585
year         28284
december     27695
income       26663
cash         24867
financial    24808
costs        22725
Name: 151010, dtype: int64
###########################################
million          5419
cash             2211
financial        2008
company          1978
tax              1887
income           1814
approximately    1726
operations       1667
year             1609
net              1565
Name: 151020, dtype: int64
###########################################
million      31196
company      13657
net          12116
sales        10006
financial     9591
income        8770
tax           8306
cash          7811
costs         7573
assets        7363
Name: 151030, dtype: int64
###########################################
million      54665
company      31638
december     18814
cash         18159
year         17037
financial    16799
costs        16744
net          16441
sales        16439
income       15670
Name: 151040, dtype: int64
###########################################
million      17916
december      6562
net           5917
income        5750
sales         5699
year          5392
costs         5215
cash          4957
company       4697
operating     4620
Name: 151050, dtype: int64
###########################################

In [305]:
k = 200
first_ind_l = pd.DataFrame(first_ind).index.tolist()
bis_ind_l = pd.DataFrame(bis_ind).index.tolist()
ter_ind_l = pd.DataFrame(ter_ind).index.tolist()
qar_ind_l = pd.DataFrame(qar_ind).index.tolist()
quint_ind_l = pd.DataFrame(quint_ind).index.tolist()

print 'Words for ind1 changes'
print [word for word in first_ind_l[0:k] if ((word not in bis_ind_l[0:k]) and (word not in ter_ind_l[0:k]) and (word not in qar_ind_l[0:k]) and (word not in quint_ind_l[0:k]))]
print ''
print 'Words for ind2 changes'
print [word for word in bis_ind_l[0:k] if ((word not in first_ind_l[0:k]) and (word not in ter_ind_l[0:k]) and (word not in qar_ind_l[0:k]) and (word not in quint_ind_l[0:k]))]
print ''
print 'Words for ind3 changes'
print [word for word in ter_ind_l[0:k] if ((word not in bis_ind_l[0:k]) and (word not in first_ind_l[0:k]) and (word not in qar_ind_l[0:k]) and (word not in quint_ind_l[0:k]))]
print ''
print 'Words for ind4 changes'
print [word for word in qar_ind_l[0:k] if ((word not in bis_ind_l[0:k]) and (word not in ter_ind_l[0:k]) and (word not in first_ind_l[0:k]) and (word not in quint_ind_l[0:k]))]
print ''
print 'Words for ind5 changes'
print [word for word in quint_ind_l[0:k] if ((word not in bis_ind_l[0:k]) and (word not in ter_ind_l[0:k]) and (word not in qar_ind_l[0:k]) and (word not in first_ind_l[0:k]))]
print ''

Words for ind1 changes
[u'chemicals', u'dow', u'joint', u'customer', u'analysis', u'august', u'insurance', u'administrative', u'chemical']

Words for ind2 changes
[u'headwaters', u'construction', u'fuel', u'coal', u'concrete', u'currently', u'lime', u'credits', u'section', u'proceeds', u'believe', u'projects', u'covol', u'building', u'synthetic', u'limestone', u'resulting', u'phase', u'convertible', u'working', u'ability', u'arkansas', u'percentage', u'license', u'principal', u'alternative', u'existing', u'bank', u'legal', u'litigation', u'potential', u'fees', u'aggregates', u'reduced', u'units']

Words for ind3 changes
[u'packaging', u'international', u'october', u'billion', u'businesses', u'continuing', u'includes', u'options', u'receivable', u'borrowings', u'employees', u'pre', u'gains', u'settlement', u'acquired', u'discontinued', u'loans', u'program', u'internal']

Words for ind4 changes
[u'steel', u'gold', u'ore', u'mining', u'metal', u'metals', u'ounces', u'silver', u'united', u'iron', u'states', u'exploration', u'reserves', u'levels', u'ounce', u'aluminum', u'paid']

Words for ind5 changes
[u'pulp', u'timber', u'papers', u'partnership', u'dollar', u'canadian', u'wood', u'harvest', u'timberland', u'depreciation', u'fund', u'closure', u'items', u'thousands', u'dollars', u'capacity', u'unit', u'reported', u'retirement', u'board', u'log', u'mills', u'lumber', u'excluding', u'incurred', u'land', u'valuation']